#Docker environment variables
MY_SQL_ROOT_PASSWORD=root_pass

#Spring Boot environment variables
MY_SQL_URL=jdbc:mysql://localhost:3306/petistaan

#Shared environment variables(Docker and Spring Boot)
MY_SQL_USERNAME=petistaan_user
MY_SQL_PASSWORD=petistaan_pass
MY_SQL_DATABASE=petistaan